*{
    padding: 0;
 
}
div{
    padding: 0px 15px 15px 15px;
    display: grid;
    grid-template-columns: auto auto auto ;
}
img{
    width: 300px;
    height: 300px;
    border-radius: 15px;
    grid-gap: 3px;
    opacity: 0.7;
}
div figure img:hover{
    opacity: 1;

}